[user]
    email =  jmeline@users.noreply.github.com
    name = Jacob Meline
[core]
    pager = delta
    autocrlf = input

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true  # use n and N to move between diff sections
    light = false

[merge]
    ; conflictstyle = diff3
    tool = p4mergetool

[mergetool "p4mergetool"]
  cmd = /Applications/p4merge.app/Contents/Resources/launchp4merge "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
  keepBackup = false
  keepTemporaries = false
  trustExitCode = false
  prompt = false

[diff]
    colorMoved = default
