snippet todo "this is a todo reminder"  b
// TODO: ${1:desc} `!v strftime("%c")`
endsnippet

snippet crc "create react es6 class template"  b
import React from 'react';
export default class ${1:ClassName} extends React.Component {
	constructor(props){
		super(props);
	}

	render(){
		return(
			<div>
			</div>
		)
	}
}

$1.propTypes = {

};
endsnippet


